.home-icons {
  position: relative;
  z-index: 5;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}

.menu-icons {
  width: 20px;
  height: 20px;
  background-image: url("../assets/img/icons/menu.svg");
  position: relative;
  z-index: 5;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}
.file-icons {
  width: 32px;
  height: 32px;
  background-image: url("../assets/img/icons/file.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}
.crown-icon {
  width: 15px;
  height: 12px;
  background-image: url("../assets/img/icons/crown.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
  margin-right: 3px;
}
.delete-icons {
  width: 60px;
  height: 60px;
  background-image: url("../assets/img/icons/delete.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.leave-icons {
  width: 60px;
  height: 60px;
  background-image: url("../assets/img/icons/leave.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.logout-icons {
  width: 60px;
  height: 60px;
  background-image: url("../assets/img/icons/logout.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.time-icons {
  width: 60px;
  height: 60px;
  background-image: url("../assets/img/icons/time.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.airplane-icons {
  width: 60px;
  height: 60px;
  background-image: url("../assets/img/icons/airplane.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.update-icons {
  width: 40px;
  height: 40px;
  background-image: url("../assets/img/icons/update.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.remote-icons {
  width: 80px;
  height: 80px;
  background-image: url("../assets/img/icons/remote-sign.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.online-icons {
  width: 80px;
  height: 80px;
  background-image: url("../assets/img/icons/online-sign.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.positive-icons {
  width: 100px;
  height: 100px;
  background-image: url("../assets/img/icons/positive.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.conservative-icons {
  width: 100px;
  height: 100px;
  background-image: url("../assets/img/icons/Conservative.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.steady-icons {
  width: 100px;
  height: 100px;
  background-image: url("../assets/img/icons/steady.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.addSupport-icons {
  width: 200px;
  height: 200px;
  background-image: url("../assets/img/icons/addSupport.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.addFile {
  width: 250px;
  height: 250px;
  background-image: url("../assets/img/icons/addFile.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.upload {
  width: 250px;
  height: 250px;
  background-image: url("../assets/img/icons/upload.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.sign-success {
  width: 200px;
  height: 200px;
  background-image: url("../assets/img/icons/sign-success.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.remote-sign-success {
  width: 250px;
  height: 250px;
  background-image: url("../assets/img/icons/remote-sign-success.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
.error-404-icons {
  width: 280px;
  height: 280px;
  background-image: url("../assets/img/icons/failed.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: inline-block;
}
