.client-img {
  width: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: url("../assets/img/Vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: 3px solid white;
  object-fit: contain;
}

.company_logo {
  height: 106px;
  width: 278px;
  background-image: url("../assets/img/login/logo_company.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}
.changePassword_logo {
  height: 160px;
  width: 160px;
  background-image: url("../assets/img/login/logivVerify/changePassword.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}
.verify_logo {
  height: 160px;
  width: 160px;
  background-image: url("../assets/img/login/logivVerify/verify.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}
.header-logo {
  display: block;
  width: 198px;
  height: 36px;
  background-image: url("../assets/img/header/header.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}
.footer-logo {
  width: 48px;
  height: 42px;
  background-image: url("../assets/img/footer/footer.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
}

.home-button-background {
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  padding: 24px 32px;
  border-radius: 15px;
}
.second-header {
  height: 80px;
  background-image: linear-gradient(
      rgba(183, 164, 141, 0.8),
      rgba(183, 164, 141, 0.8)
    ),
    url("../assets/img/button-background.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  font-weight: 900;
}
.home-1 {
  background-image: linear-gradient(
      rgba(157, 89, 9, 0.75),
      rgba(157, 89, 9, 0.75)
    ),
    url("../assets/img/button-background.jpg");
}
.home-2 {
  background-image: linear-gradient(
      rgba(65, 68, 144, 0.75),
      rgba(65, 68, 144, 0.75)
    ),
    url("../assets/img/button-background.jpg");
}
.home-3 {
  background-image: linear-gradient(
      rgba(115, 46, 84, 0.75),
      rgba(115, 46, 84, 0.75)
    ),
    url("../assets/img/button-background.jpg");
}
.home-4 {
  background-image: linear-gradient(
      rgba(228, 68, 84, 0.75),
      rgba(228, 68, 84, 0.75)
    ),
    url("../assets/img/button-background.jpg");
}
.home-5 {
  background-image: linear-gradient(
      rgba(56, 155, 243, 0.75),
      rgba(56, 155, 243, 0.75)
    ),
    url("../assets/img/button-background.jpg");
}

@media only screen and (max-width: 992px) {
  .header-logo {
    display: block;
    width: 100px;
    height: 36px;
    background-image: url("../assets/img/header/mobile-header.svg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
  }
}
